<form [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="age" placeholder="Age">
    </mat-form-field>
    <mat-radio-group formControlName="gendor">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput formControlName="city" placeholder="City">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="primary" (click)="updateData()">Submit</button>
        <button mat-raised-button color="warn" (click)="resetForm()">Clear</button>
    </mat-dialog-actions>
</form>