<nav class="navbar navbar-expand-sm navbar-light bg-warning">
    <a class="navbar-brand">Student Details</a>
    <div>
        <form class="form-inline my-2 my-lg-3">
            <mat-slide-toggle color="primary" (click)="toggleView()">Switch View</mat-slide-toggle>
            <button mat-raised-button color="primary" (click)="openDialog()">+ Add New Student</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="form-group form-inline my-2 my-lg-2">
        <input type="text" class="form-control mr-sm-2" placeholder="Search By Name" [(ngModel)]="searchTerm">
    </div>
    <div class="row">
        <div *ngFor="let item of filteredStudents" [ngClass]="grid ? 'col-md-4' : 'col-md-12'">
            <div class="card-deck">
                <div class="card spacing">
                    <div class="card-body">
                        <button title="Delete Record" type="button " class="close" (click)="deleteRecord(item.id)">
                            <span aria-hidden="true ">&times;</span>
                          </button>
                        <ul>
                            <li>Id : {{ item.id }}</li>
                            <li>Name : {{ item.name }}</li>
                            <li>Age : {{ item.age }}</li>
                            <li>Gendor : {{ item.gendor }}</li>
                            <li>City : {{ item.city }}</li>
                            <li>Email : {{ item.email }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-paginator [length]="this.studentList.length " [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100] " (page)="onPageChangeEvent($event) ">
    </mat-paginator>
</div>

<router-outlet></router-outlet>