.mat-slide-toggle {
    margin-right: 10px;
}

.spacing {
    margin: 8px 8px 8px 8px;
    border: 0px solid black;
    box-shadow: 3px 3px 10px 0px rgb(92, 89, 89);
}

.card-title {
    text-align: left;
}